#Plists
Speech-Drill/GoogleService-Info.plist

#Common Files
.DS_Store

#Logs
firebase-debug.log

#XCUserData
Speech-Drill.xcworkspace/xcuserdata/
Speech-Drill.xcodeproj/project.xcworkspace/xcuserdata/
Speech-Drill.xcodeproj/xcuserdata/
