ios/
minus-solid.afdesign
plus-solid.afdesign
speech_practicer_logo.afdesign
Podfile.lock
Pods/
Speech-Drill/GoogleService-Info.plist
.DS_Store
firebase-debug.log

#UserData
Speech-Drill.xcworkspace/xcuserdata/
Speech-Drill.xcodeproj/project.xcworkspace/xcuserdata/
Speech-Drill.xcodeproj/xcuserdata/
